#head{
    background-color: #ffd693;
    width: 440px;
    height: 370px;
    border: 10px black solid;
    position: absolute;
    border-radius: 45%;
    z-index: 4;
    left: 200px;
    top: 375px;
}
.ear{
    background-color: #ffd693;
    border: 10px black solid;
    border-width: 10px 10px 0px 10px;
    position: absolute;
    border-radius: 100px 100px 0px 0px;
    z-index: 5;
    width: 70px;
    height: 40px;
}
#leftEar{
    left: 230px;
    transform: rotate(328deg);
    top: 378px;
}
#rightEar{
    left: 520px;
    transform: rotate(28deg);
    top: 366px;
}
.eye{
    background-color: black;
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    border: black solid 10px;
    top: 120px;
    z-index: 5;
}
#leftEye{
    left: 90px;
}
#rightEye{
    left: 240px;
}
.nose{
    background-color: white;
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 50%;
    border: black solid 10px;
    top: 165px;
}
#leftNose{
    left: 100px;
    border-right-color:transparent;
    z-index: 6;
}
#rightNose{
    left: 156px;
    z-index: 5;
}
.leftNoseHair{
    background-color: black;
    width: 1px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    border:black solid 5px;
    left: 100px;
}
#leftNoseHairTop{
    top: 175px;
    transform: rotate(290deg);
}
#leftNoseHairBottom{
    top: 205px;
    transform: rotate(70deg);
}
.rightNoseHair{
    background-color: black;
    width: 1px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    border:black solid 5px;
    left: 246px;
}
#rightNoseHairTop{
    top: 175px;
    transform: rotate(70deg);
}
#rightNoseHairBottom{
    top: 205px;
    transform: rotate(290deg);
}
#leftBody{
    background-color: #ffd693;
    width: 450px;
    height: 350px;
    position: absolute;
    border-radius: 30%;
    top: 420px;
    left: 300px;
    z-index: 3;
    border-width: 0px 0px 10px 10px;
}
#rightBody{
    background-color: #ad7f4d;
    width: 600px;
    height: 345px;
    position: absolute;
    border-radius: 40%;
    border: black solid 10px;
    top: 413px;
    left: 245px;
    z-index: 2;
}
#tail{
    background-color: #ad7f4d;
    width: 110px;
    height: 120px;
    position: absolute;
    border-radius: 50%;
    border: black solid 10px;
    top: 400px;
    left: 780px;
    z-index: 0;
}
#tail1{
    background-color: black;
    width: 8px;
    height: 80px;
    position: absolute;
    border-radius: 50%;
    top: 445px;
    left: 830px;
    z-index: 1;
    transform: rotate(60deg);
}
.heart1 {
    width: 100px;
    height: 100px;
    background: pink;
    position: relative;
    transform: rotate(70deg);
    top: 210px;
    left: 550px;
  }
  .heart1::before,
  .heart1::after {
    content: "";
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    background: pink;
  }
  .heart1::before {
    left: -50%;
  }
  .heart1::after {
    top: -50%;
  }
  .heart2 {
    width: 100px;
    height: 100px;
    background: pink;
    position: relative;
    transform: rotate(30deg);
    top: 90px;
    left: 360px;
  }
  .heart2::before,
  .heart2::after {
    content: "";
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    background: pink;
  }
  .heart2::before {
    left: -50%;
  }
  .heart2::after {
    top: -50%;
  }